@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Lato:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-navy-900: #0A2540;
  --color-navy-800: #163A5F;
  --color-navy-700: #1B3B5A;
  
  --color-gold-600: #9D7B36;
  --color-gold-500: #B49B57;
  --color-gold-400: #C5A059;
  --color-gold-100: #F4EBD0;
  
  --color-cream-50: #FDFBF7;
  --color-cream-100: #F5F2ED;
  --color-cream-200: #EBE6DC;
}
